.btn {
	width: 100%;
	height: 40px;
	text-align: center;
	color: $white;
	box-sizing: border-box;
	line-height: 40px;
	text-transform: uppercase;
	@include LatoFont;
	display: block;
	border: 0;
	outline: 0;
	text-decoration: none;
	border-radius: 3px;
	transition: all 250ms;
	cursor: pointer;

	&-blue {
		background: $blue;

		&:hover {
			opacity: .95;
		}
	}

	&-red {
		background: $red;

		&:hover {
			opacity: .95;
		}
	}

	&-add {
		width: 40px;
		background: $bgColor;
		color: $secondary;
		text-align: center;
		line-height: 40px;

		&:hover {
			color: $primary;
		}
	}

	&-outline {
		background: transparent;
		border: 3px solid $green;
		color: $green;
		line-height: 34px;
		border-radius: 5px;

		&:hover {
			opacity: .9;
		}
	}

	&-step {
		border: 1px solid $border;

		&-minus {
			border-radius: 0;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			margin-left: 10px;
			font-size: 10px;
		}

		&-plus {
			border-radius: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			margin-right: 10px;
			font-size: 10px;
		}

		&:hover {
			border: 1px solid $blue;
		}
	}
}