.profile {
	max-width: 1200px;
	width: calc(100% - 80px);
	margin: 100px auto;
	display: grid;
	grid-template-columns: 1fr;

	@media only screen and (min-width: 961px) {
		grid-template-columns: 1fr 2fr;
	}

	.sidebar {
		text-align: center;
		padding: 0 60px;

		&-image {
			width: auto;
			// padding: 0 50px;

			.img {
				border-radius: 50%;
				width: 100%;
			}
		}

		&-name {
			font-size: 32px;
			margin: 20px 0;
		}

	}
}