/* Special */

$blue: #41AAE1;
$red: #E36556;
$green: #72baad;

/* Background */

$bgColor: #FDFDFD;
$bgItem: #E5E5E5;

/* Font */

$primary: #3B3E47;
$secondary: rgba($primary, .65);
$white: #FDFDFD;

/* Others */

$border: #C4C4C4;