@import "_reboot";

/* Variables */

@import "_colors";
@import "_fonts";

/* Main */

body {
	background: $bgColor;
	color: $secondary;
	font-family: 'Hind', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

/* Modules */

@import "_button";
@import "_collapse";
@import "_nav";
@import "_form";

/* Layout */

@import "_navbar";